
<div class="module-container">
  <div class="container module">
    <div class="store-section">
      <h1>Our Store Locations</h1>
      <section class="contact-location-hvl">
        <h2>Hidden Valley Lake</h2>
        18983 Hartmann Rd<br>
        Hidden Valley Lake, CA 95467<br>
        707-987-8086<br>
        M-F 5:30am - 5pm<br>
        S-S 6:30am - 5pm<br>
      </section>

      <section class="contact-location-cm">
        <h2>Cobb Mountain</h2>
        <em>The Meadows Springs Shopping Center</em><br/>
        16295 Hwy 175b<br/>
        Cobb, CA 95426<br/>
        707-928-0461<br/>
        M-F 5:30am - 6pm<br/>
        S-S 6:30am - 5pm<br/>
      </section>
    </div>
    <br>

    <p>
      Email <a href="mailto:mountain.high.coffee@gmail.com">mountain.high.coffee@gmail.com</a>,
      Work at Mountain High
      <a target="_blank" href="http://www.mountainhighcafe.com/images/stories/MountainHighApplication.pdf" title="Job Application">
      Job Application</a>
    </p>
  </div>
</div>
