
<div class="module-container">

  <div class="container module">
    <h1>Our Store Locations:</h1>
    <section class="contact-location-hvl">
      Hidden Valley Lake
      18983 Hartmann Rd
      Hidden Valley Lake, CA 95467
      707-987-8086
      M-F 5:30am - 5pm
      S-S 6:30am - 5pm
    </section>

    <section class="contact-location-cm">
      Cobb Mountain
      The Meadows Springs Shopping Center
      16295 Hwy 175
      Cobb, CA 95426
      707-928-0461
      M-F 5:30am - 6pm
      S-S 6:30am - 5pm

      email: mountain.high.coffee@gmail.com
      Work at Mountain High
      Job Application
      Last Updated ( Tuesday, 29 January 2013 06:16 )
    </section>
  </div>
</div>
