

<!--
<a href='https://mkt.com/beesbot' class='sq-embed-menu' data-menu-item-images='large' data-menu-accent-color='b6b7b8' data-menu-template='column' data-menu-border='show' data-menu-item-descriptions='show' >Order Online</a><script src="https://cdn.sq-api.com/market/embed.js" charset="utf-8"></script>
-->

<div class="module-container">

  <div class="container module">
    <blockquote>
      Excellent smoothies and tasty breakfast burritos. Nice ambience and friendly.
    </blockquote>
    <hr>
    <section class="welcome-panel">
      <header>
        <%= image_tag "coffecup.png" %>
      </header>
      <section>
        <h2>
          Welcome to mountain high cafe
        </h2>
        <p>
          BUY BOOKS MUSIC FROM YOUR LOCAL MOM & POP YOUR $$ STAYS LOCAL
        </p>
      </section>
    </section>


    <hr>
  </div>
</div>
<div class="module-container">
  <div class="container module">
    <section class="thumb-image">
      <section class="thumb-image-l">
        Our Store Locations:
        <p>
          Hidden Valley Lake
          18983 Hartmann Rd
          Hidden Valley Lake, CA 95467
          707-987-8086
          M-F 5:30am - 5pm
          S-S 6:30am - 5pm
        </p>
        <p>
          Cobb Mountain
          The Meadows Springs Shopping Center
          16295 Hwy 175
          Cobb, CA 95426
          707-928-0461
          M-F 5:30am - 6pm
          S-S 6:30am - 5pm
        </p>
      </section>

      <section class="thumb-image-c">
        <p>
          Email <a href="mailto:mountain.high.coffee@gmail.com">mountain.high.coffee@gmail.com</a>,
          Work at Mountain High
          <a target="_blank" href="http://www.mountainhighcafe.com/images/stories/MountainHighApplication.pdf" title="Job Application">
            Job Application</a>
          </p>
        </section>

        <section class="thumb-image-r">Neat is an open source semantic grid framework built with Sass…</section>
      </section>
    </div>
  </div>
