

<!--
<a href='https://mkt.com/beesbot' class='sq-embed-menu' data-menu-item-images='large' data-menu-accent-color='b6b7b8' data-menu-template='column' data-menu-border='show' data-menu-item-descriptions='show' >Order Online</a><script src="https://cdn.sq-api.com/market/embed.js" charset="utf-8"></script>
-->

<section class="hero">
  <div class="container">
    <section class="hero-container module">
      <h2>Mountain High Coffee And Books</h2>
      <blockquote>Life is busy, we get it. That doesn't mean you can't enjoy an incredible cup of coffee.</blockquote>
    </section>
  </div>
</section>

<div class="module-container">
  <div class="container module">
    <h1>Welcome</h1>
    <p>sum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div>
</div>
<div class="module-container">
  <div class="container module">
    <section class="thumb-image">
      <section class="thumb-image-l">Neat is an open source semantic grid framework built with Sass…</section>
      <section class="thumb-image-c">Neat is an open source semantic grid framework built with Sass…</section>
      <section class="thumb-image-r">Neat is an open source semantic grid framework built with Sass…</section>
    </section>
  </div>
</div>
