

<!--
<a href='https://mkt.com/beesbot' class='sq-embed-menu' data-menu-item-images='large' data-menu-accent-color='b6b7b8' data-menu-template='column' data-menu-border='show' data-menu-item-descriptions='show' >Order Online</a><script src="https://cdn.sq-api.com/market/embed.js" charset="utf-8"></script>
-->

<section class="hero">
  <div class="container">
    <section class="hero-container module">
      <h2>Mountain High Coffee And Books</h2>
      <blockquote>Life is busy, we get it. That doesn't mean you can't enjoy an incredible cup of coffee.</blockquote>
    </section>
  </div>
</section>


<div class="container module">
<h1>Welcome</h1>
</div>
