
<blockquote>
  <div class="container module">
    Excellent smoothies and tasty breakfast burritos. Nice ambience and friendly.
  </div>
</blockquote>

<div class="container-wrapper bg-wrapper">
  <div class="container module">
    <section class="welcome-panel">
      <header>
        <%= image_tag "coffecup.png" %>
      </header>
      <section>
        <h2>
          Welcome to mountain high cafe
        </h2>
        <p>
          Buy books music from your local mom & pop your $$ stays local
        </p>
      </section>
    </section>
  </div>
</div><!-- end of container-container -->


<div class="container module">
  <section class="thumb-image">
    <h2>Our Store Locations</h2>
    <hr>
    <section class="thumb-image-l">
      <i class="fa fa-map fa-4x" aria-hidden="true"></i>
      <h3>Hidden Valley Lake</h3>
      <p>
        18983 Hartmann Rd<br>
        Hidden Valley Lake, CA 95467<br>
        707-987-8086<br>
        M-F 5:30am - 5pm<br>
        S-S 6:30am - 5pm<br>
      </p>
    </section>

    <section class="thumb-image-r">
      <i class="fa fa-map fa-4x" aria-hidden="true"></i>
      <h3>Cobb Mountain</h3>
      <p>
        The Meadows Springs Shopping Center<br>
        16295 Hwy 175<br>
        Cobb, CA 95426<br>
        707-928-0461<br>
        M-F 5:30am - 6pm<br>
        S-S 6:30am - 5pm<br>
      </p>
    </section>
  </section><!--end of thumb-image -->
</div>

<div class="container-wrapper">
  <div class="container module">

    <div class="contact-section">
      <h2>Contact</h2>
      <hr>
      <section class="contact-section-r">
        <i class="fa fa-paper-plane fa-4x" aria-hidden="true"></i>
        <br>
        <h3>Email</h3>
        <a href="mailto:mountain.high.coffee@gmail.com">
          mountain.high.coffee@gmail.com
        </a>
        <br>
        <h3>  Work at Mountain High</h3>
        <a target="_blank" href="http://www.mountainhighcafe.com/images/stories/MountainHighApplication.pdf" title="Job Application">
          Job Application
        </a>
      </section>

      <section class="contact-section-l">
      <%= image_tag("nhcb.jpg") %>
      </section>
    </div>

  </div>
</div><!-- end of container-wrapper -->
