

<div class="container-wrapper">
  <div class="container module">

	<h1>Which Location?</h1>
	<section>
	<h3>Hidden Valley Lake (<%= link_to 'order online', 'hidden_valley' %>)</h3>
	<p>
	  18983 Hartmann Rd<br>
	  Hidden Valley Lake, CA 95467<br>
	  <a href="tel:7079878086">707-987-8086</a><br>
	  M-F 5:30am - 5pm<br>
	  S-S 6:30am - 5pm<br>
	</p>
	</section>

	<section>
	<h3>Cobb Mountain (<%= link_to 'shop online', 'cobb' %>)</h3>
	<p>
	  The Meadows Springs Shopping Center<br>
	  16295 Hwy 175<br>
	  Cobb, CA 95426<br>
	  <a href="tel:7079280461">707-928-0461</a><br>
	  M-F 5:30am - 6pm<br>
	  S-S 6:30am - 5pm<br>
	</p>
	</section>
	</div>
</div>